#header_style{
    background-color: #d6cbd3;
    text-align: center;
    height: 30px;
  }
  #footer_style{
      background-color: #ada397;
      text-align: center;
      clear: both;
      height:30px;
      }
      #nav_style{
        background-color: #bdcebe;
       float: right;
       width: 20%;
       box-sizing: border-box;
       height:600px;
        }
        #main_area_style{
          background-color: #eca1a6;
          float: right;
          width: 80%;
          box-sizing: border-box;
          height: 600px;
        }
        table, th, td {
          border: 1px solid black;
}
